@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #1f1f1f;
  position: relative;
}

.ball{
  background-color: white;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

div{
  background-color: #1f1f1f;
}
