@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1f1f1f;
  overflow-x: hidden;
  position: relative;
}

.container:hover{
  fill:color(from color srgb 96 187 34);
}

